body{
    font-family:Arial ,sans-serif;
    margin: 0;
    padding: 0;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}


#header{
    font-size: 18px;
    color: black;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.897);
    border-top-right-radius: 10px;
   border-top-left-radius:10px ;

}
.poster {
    width: 90%;
    max-width: 600px;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.diagram{
    margin:1px 0;
    padding: 5px;
    border: 3px solid wheat;

}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom:1px ;
    
}
.footer{
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.897);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.footer p{
    margin:5px 0 ;
}
#cm
{
 justify-content: flex-start;
}
.image1{
    width: 60px; 
    height: auto;
}
#multilplexar img {
    width: 120px;
    height: 50px;
}

#combiner img,#tv img{
    width: 130px;
    height: auto;
}
.connect{
    display: flex;
    align-items: center;
}
#modulator{
    justify-content: flex-start;
    width: 50%;
}
#modulator img{
  width: 160px;
  height: auto;
  margin-left: 30px;
}
#combiner{
    justify-content: flex-end;
    width: 85%;
}
#lcd img{
    width: 130px;
    height: auto;
}
#lcd{
    justify-content: flex-end;
}
.poster hov{
    box-shadow: 7px 7px 19px black;
    transform: translateX(200px);
    transition: all;
}